{% load static %}

</<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>This is update - Student  page</title>
        <link rel="stylesheet" href="{% static "stylesheets/style.css" %}"/>
    </head>
    <body>
        <h1>  Welcome to update student page </h1>


        <img src="{% static "images/pythonlogo.png" %}" alt="Image not found"/>
        <h3> Please fill the bellow apilication  </h3>
        <br/>
        <form method="POST">

        <table>
            {{form.as_table}}
        </table>
            <br/>

            <input type="submit" name="" value="Update Student">
            {% csrf_token %}
        </form>
    </body>
</html>
